/* Global */

body {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  /* width: 500px; */
  width: 60%;
  background-color: #f8f8f8;
  font-size: 24px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

h3 {
  font-size: 24px;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #424547;
}

p {
 font-size: 16px;
}

input {
  font-size: 24px;
}

input[type=text] {
  color: #424547;
  border: 1px solid #c2c2c2;
  background-color: white;
}

em {
  font-style: normal;
  font-weight: bold;
  color: black;
}

#wrapper {
  height: 70%;
  overflow: auto;
}

/* 
  padding: 10px;
  margin-bottom: 5px;
*/

/* Chat */
#presenceDiv {
  height: 86%;
  width: 28%;
  background-color: white;
  border: medium solid #424547;
  text-align: left;
  float: left;
  overflow: auto;
}

#messagesDiv {
  height: 86%;
  width: 70%;
  background-color: white;
  border: medium solid #424547;
  text-align: left;
  float: right;
  overflow: auto;
}

#statusDiv{
  text-transform: capitalize;
  font-style:italic;
}

#place-valid{
  background-color: LightGreen;
  text-transform: capitalize;
}

#place-invalid{
  background-color: Salmon;
  text-transform: capitalize;
  text-decoration: line-through;
}

#nameInput {
  font-weight: bold;
  width: 28%;
  color: gray;
  text-align: left;
  border: thin solid #424547;
  float: left;
}

#messageInput {
  width: 70%;
  border: thin solid #424547;
  float: right;
}

/* Leaderboard */

#leaderboardTable {
  background-color: white;
  overflow: auto;
  width: 100%;
  padding: 10px;
  border: 8px solid #424547;
  margin-bottom: 5px;
}

#scoreInput {
  width: 70%;
}

#highestscore {
  margin-top: 20px;
  font-size: 14px;
}

